# Iris Flower - Batch Prediction


In this notebook we will, 

1. Load the batch inference data that arrived in the last 24 hours
2. Predict the first Iris Flower found in the batch
3. Write the ouput png of the Iris flower predicted, to be displayed in Github Pages.

In [1]:
import pandas as pd
import hopsworks
import joblib

project = hopsworks.login()
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/25755
Connected. Call `.close()` to terminate connection gracefully.

In [2]:
mr = project.get_model_registry()
model = mr.get_model("iris", version=1)
model_dir = model.download()
model = joblib.load(model_dir + "/iris_model.pkl")

Connected. Call `.close()` to terminate connection gracefully.
Downloading file ...

We are downloading the 'raw' iris data. We explicitly do not want transformed data, reading for training. 

So, let's download the iris dataset, and preview some rows. 

Note, that it is 'tabular data'. There are 5 columns: 4 of them are "features", and the "variety" column is the **target** (what we are trying to predict using the 4 feature values in the target's row).

In [19]:
feature_view = fs.get_feature_view(name="iris", version=1)

Now we will do some **Batch Inference**. 

We will read all the input features that have arrived in the last 24 hours, and score them.

In [31]:
import datetime
from PIL import Image

batch_data = feature_view.get_batch_data()

y_pred = model.predict(batch_data)

y_pred

2023-03-28 21:44:34,789 INFO: USE `kareemamr_featurestore`
2023-03-28 21:44:35,369 INFO: SELECT `fg0`.`sepal_length` `sepal_length`, `fg0`.`sepal_width` `sepal_width`, `fg0`.`petal_length` `petal_length`, `fg0`.`petal_width` `petal_width`
FROM `kareemamr_featurestore`.`iris_1` `fg0`

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

array(['Setosa', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor',
       'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Setosa', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Virginica',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Virginica',
       'Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Versicolor'], dtype=object)

In [32]:
batch_data

     sepal_length  sepal_width  petal_length  petal_width
0        5.700000     3.800000      1.700000     0.300000
1        5.600000     2.700000      4.200000     1.300000
2        6.300000     3.300000      6.000000     2.500000
3        6.000000     2.900000      4.500000     1.500000
4        5.000000     3.000000      1.600000     0.200000
..            ...          ...           ...          ...
145      6.200000     2.800000      4.800000     1.800000
146      6.500000     3.000000      5.500000     1.800000
147      6.400000     2.800000      5.600000     2.100000
148      5.000000     3.400000      1.600000     0.400000
149      6.078975     2.374641      4.739068     1.643119

[150 rows x 4 columns]

Batch prediction output is the last entry in the batch - it is output as a file 'latest_iris.png'

In [33]:
flower = y_pred[y_pred.size-1]
flower_img = "assets/" + flower + ".png"
img = Image.open(flower_img)            

img.save("../../assets/latest_iris.png")

In [46]:
iris_fg = fs.get_feature_group(name="iris", version=1)
df = iris_fg.read()
df

2023-03-28 22:12:40,614 INFO: USE `kareemamr_featurestore`
2023-03-28 22:12:41,347 INFO: SELECT `fg0`.`sepal_length` `sepal_length`, `fg0`.`sepal_width` `sepal_width`, `fg0`.`petal_length` `petal_length`, `fg0`.`petal_width` `petal_width`, `fg0`.`variety` `variety`
FROM `kareemamr_featurestore`.`iris_1` `fg0`

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

     sepal_length  sepal_width  petal_length  petal_width     variety
0        5.700000     3.800000      1.700000     0.300000      Setosa
1        5.600000     2.700000      4.200000     1.300000  Versicolor
2        6.300000     3.300000      6.000000     2.500000   Virginica
3        6.000000     2.900000      4.500000     1.500000  Versicolor
4        5.000000     3.000000      1.600000     0.200000      Setosa
..            ...          ...           ...          ...         ...
147      6.400000     2.800000      5.600000     2.100000   Virginica
148      5.000000     3.400000      1.600000     0.400000      Setosa
149      6.078975     2.374641      4.739068     1.643119  Versicolor
150      6.674308     3.696600      6.587341     1.634439   Virginica
151      7.557688     2.546361      5.303475     2.274573   Virginica

[152 rows x 5 columns]

In [35]:
label = df.iloc[-1]["variety"]
label

'Versicolor'

In [36]:
label_flower = "assets/" + label + ".png"

img = Image.open(label_flower)            

img.save("../../assets/actual_iris.png")

In [37]:
import pandas as pd

monitor_fg = fs.get_or_create_feature_group(name="iris_predictions",
                                  version=1,
                                  primary_key=["datetime"],
                                  description="Iris flower Prediction/Outcome Monitoring"
                                 )

In [38]:
from datetime import datetime
now = datetime.now().strftime("%m/%d/%Y, %H:%M:%S")

data = {
    'prediction': [flower],
    'label': [label],
    'datetime': [now],
}
monitor_df = pd.DataFrame(data)
monitor_fg.insert(monitor_df)

Uploading Dataframe: 0.00% |          | Rows 0/1 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/25755/jobs/named/iris_predictions_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f448ef82fd0>, None)

In [39]:
history_df = monitor_fg.read()
history_df

2023-03-28 21:45:45,358 INFO: USE `kareemamr_featurestore`
2023-03-28 21:45:46,083 INFO: SELECT `fg0`.`prediction` `prediction`, `fg0`.`label` `label`, `fg0`.`datetime` `datetime`
FROM `kareemamr_featurestore`.`iris_predictions_1` `fg0`

UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   prediction       label              datetime
0      Setosa      Setosa  03/28/2023, 21:27:12
1  Versicolor  Versicolor  03/28/2023, 21:40:04
2  Versicolor  Versicolor  03/28/2023, 21:44:47

In [ ]:
import dataframe_image as dfi

df_recent = history_df.tail(5)
 
# If you exclude this image, you may have the same iris_latest.png and iris_actual.png files
# If no files have changed, the GH-action 'git commit/push' stage fails, failing your GH action (last step)
# This image, however, is always new, ensuring git commit/push will succeed.
dfi.export(df_recent, '../../assets/df_recent.png', table_conversion = 'matplotlib')

In [44]:
from sklearn.metrics import confusion_matrix

predictions = history_df[['prediction']]
labels = history_df[['label']]

results = confusion_matrix(labels, predictions)
print(results)

[[1 0]
 [0 2]]

In [41]:
from matplotlib import pyplot
import seaborn as sns

# Only create the confusion matrix when our iris_predictions feature group has examples of all 3 iris flowers
if results.shape == (3,3):

    df_cm = pd.DataFrame(results, ['True Setosa', 'True Versicolor', 'True Virginica'],
                         ['Pred Setosa', 'Pred Versicolor', 'Pred Virginica'])

    cm = sns.heatmap(df_cm, annot=True)

    fig = cm.get_figure()
    fig.savefig("../../assets/confusion_matrix.png") 
    df_cm
else:
    print("Run the batch inference pipeline more times until you get 3 different iris flowers")

Run the batch inference pipeline more times until you get 3 different iris flowers

In [42]:
results.shape

(2, 2)

In [43]:
results

array([[1, 0],
       [0, 2]])